<section class="container-fluid my-5">
    <div class="row">

        <div class="col-12 col-md-4 p-5 text-center">
            <h2>CALIFICACIONES</h2>
            <p class="text-start mt-4">Instalaciones y servicios</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar" style="width: 85%">85%</div>
            </div>
            <p class="text-start mt-4">Instalaciones y servicios</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar" style="width: 75%">85%</div>
            </div>
            <p class="text-start mt-4">Instalaciones y servicios</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar" style="width: 60%">85%</div>
            </div>
            <p class="text-start mt-4">Instalaciones y servicios</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar" style="width: 95%">85%</div>
            </div>
            <p class="text-start mt-4">Instalaciones y servicios</p>
            <div class="progress" role="progressbar">
                <div class="progress-bar" style="width: 65%">85%</div>
            </div>
            <img src="../../assets/img/promo.webp" alt="" class="img-fluid w-100 mt-3">
        </div>
        <div class="col col-md-8">
            <div class="row">
                <h2>Cabañas Quimbaya</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non doloremque sit molestias beatae
                    veritatis
                    nostrum laudantium eaque at id voluptatibus perferendis autem, ducimus tempore quasi, quaerat
                    accusantium deleniti modi iusto?</p>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <img src="./../../assets/img/asado.png" alt="" class="img-fluid w-100 h-100 shadow zoom">
                </div>
                <div class="col-12 col-md-6">
                    <img src="./../../assets/img/patio.png" alt="" class="img-fluid w-100 h-100 shadow zoom">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-md-6">
                    <img src="./../../assets/img/chimenea.png" alt="" class="img-fluid w-100 h-100 shadow zoom">
                </div>
                <div class="col-12 col-md-6">
                    <img src="./../../assets/img/zonacomun.png" alt="" class="img-fluid w-100 h-100 shadow zoom">
                </div>
            </div>
        </div>

    </div>
</section>